  </div>

  <footer role="contentinfo" style="background-color: #1b1f21; color: #ccc; border-top: 4px solid #e7e7e7; margin-top: 100px;padding: 60px 0px;">
    <div class="container">
      <div class="pull-right bs-social">
        <ul class="social-buttons">
        </ul>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div>
            <a href="/">
              <img src="/" alt="company logo" height="30">
            </a>
          </div>
        </div>

        <div class="col-sm-2">
          <div><strong>About</strong></div>
            <div><a href="#" target="blank">About Us</a></div>
            <div><a href="#" target="blank">History</a></div>
            <div><a href="#" target="blank">Privacy & terms</a></div>
            <div><a href="#" target="blank">Blog</a></div>
            <div><a href="#" target="blank">Careers</a></div>
          </div>
        <div class="col-sm-2">
          <div><strong>Contact Us</strong></div>
          <div><a href="#" target="blank">+65 6779 8213</a></div>
          <div><a href="#" target="blank">hello@yelpcamp.com</a></div>
          <div><a href="#" target="blank">Leave Feedback</a></div>
        </div>
      </div>
    </div>
  </footer>

  <!-- all external js files to load goes here -->
  <link rel="script" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" crossorigin="anonymous"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="></script>
  </body>
</html>
