<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yelp Camp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="../../assets/styles/bootstrap-paper.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- todo:delete the following line once we used the "paper" theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <% include _navbar %>
    <div class="container">
      
