<% include partials/_header %>

<div class="col-sm-6 col-sm-offset-3">
  <h1 class="text-center">Add Camp-Ground</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <form action="/campcreate" method="post">
        <div class="form-group">
          <input type="text" class="form-control" autofocus
            placeholder="camp-ground name" id="name" name="name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="image url"
            id="imgUrl" name="imgUrl">
        </div>
        <div class="form-group">
          <button name="button" type="submit" class="btn btn-success btn-lg btn-block">
            Add
          </button>
        </div>
      </form>
      <div class="text-center"><a href="/campgrounds">Cancel</a></div>
    </div>
  </div>
</div>

<% include partials/_footer %>
