.clearfix {
  clear: both;;
}

.inline {
  display: inline;
}

footer {
  background: #2C3E50;
  padding-top: 70px;
  padding-bottom: 30px;
  -webkit-font-smoothing: antialiased;
  margin-top: 10px;
}

.credits {
  text-align: center;
  margin-top: 30px;
  color: #A1AAB6;
}

footer .menu ul li .hiring {
  font-family: "Lato", "Helvetica Neue", Arial;
  font-weight: 700;
  letter-spacing: .3px;
  text-transform: uppercase;
  word-spacing: 1.5px;
  font-size: 11px;
  margin-left: 4px;
  padding: 3px 8px;
  border-radius: 4px;
  color: #fff;
}

footer .menu ul li .hiring:hover {
  color: #fff;
  background: #0E82AF;
}

footer .newsletter {
  text-align: left;
}

footer .newsletter .signup {
  margin-bottom: 40px;
  color: #89A1C0;
}

footer .newsletter a img {
  max-width: 50px;
  height: auto;
}

footer .menu h3 {
  margin-top: 0;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  font-weight: 600;
}

footer .menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

footer .menu ul li a {
  color: #89A1C0;
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
}

footer .newsletter .signup form input[type="submit"] {
  border: 0;
  /*background: #84B0E2;*/
  /*color: #FFF;*/
  border-radius: 3px;
  padding: 6px 10px;
  margin-top: 3px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.28);
  font-size: 13px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.jumbotron img {
  width: 100%;
  max-height: 33vh;
}

.jumbotron-image {
  background: center center no-repeat;
  background-image: url("https://images.unsplash.com/photo-1478815716600-15f0c3eb8e4b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=e0da216ea5202386dd3273d18c0e9aa3");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  color: #FFF;
}

.thumbnail-camp img{
  width: 100%;
}

.thumbnail-camp a {
  text-decoration: none;
  cursor: pointer;
}

.carousel .carousel-inner img {
  width: 100%;
  max-height: 400px;
}

.row .page-header {
  display: flex;
  justify-content: space-between;
}
