<% include ./../../partials/_header %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="text-center">Comment for - <%= camp.name %></h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="/campgrounds/<%= camp.id %>/comments" method="post">
            <div class="form-group">
              <label for="author" class="control-label">Author</label>
              <input type="text" class="form-control" autofocus
                placeholder="your name" id="author" name="comment[author]">
            </div>
            <div class="form-group">
              <label for="message" class="control-label">Comment</label>
              <textarea rows="5" id="message" name="comment[message]"
                placeholder="your comment about  <%= camp.name %> campground."
                class="form-control"></textarea>
                <span class="help-block">
                  put it with html markup to display it nicely
                </span>
            </div>
            <div class="form-group text-right">
              <a href="/" class="btn btn-default">Cancel</a>
              <button type="submit" class="btn btn-success">Sumbit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ./../../partials/_footer %>
